<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minhas músicas</title>
</head>
<body>
    <center>
        <h1>Minhas músicas</h1>
        <h2>Bernardo O.S</h2><br>
        <h3>Álbuns</h3>
        {% for album in albuns %}
            <p>
                <a href="{% url 'album_detail' album.id %}">
                    <img src="{{album.foto.url}}" width="280"> <br> <h4>{{album.nome}}</h4>
                </a>
            </p>
        {% endfor %}
        <hr>
        <p><a href="{% url 'sobre' %}">Sobre</a></p>
    </center>
</body>
</html>